language: java

os: linux
dist: trusty

install:
  - ./gradlew setupDecompWorkspace

# Caching Gradle
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.cache/pip
